@import "tailwindcss";

/*=== start header section === */
@layer base {
    .container {
        @apply mx-auto;
        @apply px-2;
        @apply md:px-6;
    }
    h1{
        font-size: 2rem;
        font-family: "Inter";
        font-weight: 600;
        line-height: 2rem;

   @variant md{
     font-size:1.75rem;
     font-family: "Inter";
     font-weight: 600;
     line-height: 3rem;
   }     
   @variant lg{
    
     font-size: 3rem;
     font-family: "Inter";
     font-weight: 600;
     line-height: 3.6rem;
   }     
     
    }
    h2{
        font-size: 2rem;
        font-weight: 500;
        line-height: 2.6rem;
    }
    h3{
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 2.1rem;
    }
    button{
        cursor: pointer;
        transition: all;
    }
    input{
        outline: none;
    }
}

@theme {
    --font-Inter: 'Inter';
    --color-primary: #004AC6;
    --color-background: #EFF4FF;
    --breakpoint-xs: 319px;
   

}

@utility row {
    @apply flex items-center;
}

@utility logo {
    @apply font-bold text-2xl leading-[33.6px] font-Inter;
}

@layer components {
    .nav-link {
        @apply text-[#434655] font-Inter font-normal leading-[25.6px] hover:text-primary transition-all hover:scale-120 inline-block;
    }

    .nav-link-active {
        @apply text-primary border-b-2 font-semibold;
    }

    .header {
        @apply py-3.75 sticky top-0 w-full bg-[white] shadow-md z-99;
    }
}

/*=== end header section === */


/*=== start Hero section === */

 body{
    overflow-x: hidden; 
}
@utility paragraph{
    @apply text-[#434655] font-Inter font-normal leading-6;
}

/*=== end Hero section === */

/* footer index */
@utility form{
    @apply placeholder:text-gray-500 shadow border-[#C3C6D7] bg-[#FFFFFF] py-2.5 px-4 rounded-lg;
}

/* corses page */
@utility span{
    @apply font-Inter font-semibold text-primary leading-3 text-xs tracking-[1.2px];  
}
@utility button-primary{

     @apply font-Inter font-semibold text-[#FFFFFF] bg-primary py-2 px-6 leading-3 text-xs rounded-full  hover:bg-primary/30 transition-all active:scale-90;

}
    
 


